:root {
  --primary-razer-green: #44D62C;
  --primary-razer-black: #101010;
  --primary-razer-dark-grey: #222222;
  --primary-razer-medium-grey: #555555;
  --primary-razer-medium-light-grey: #888888;
  --primary-razer-light-base: #EEEEEE;
  --primary-razer-white: #FFFFFF;
  --primary-razer-grey: #CCCCCC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

/* Shared Styles */
.page {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-razer-black);
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1160px;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: var(--primary-razer-black);
  overflow: hidden;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 100%;
  display: block;
}

hr {
  margin: 20px 0;
  border-color: 2px solid var(--primary-razer-medium-light-grey);
  width: 100%;
}

.join-us-btn {
  color: var(--primary-razer-black);
  font-weight: 800;
  font-style: normal;
  line-height: 16px;
  text-align: center;
  border: none;
  background-color: var(--primary-razer-green);
  text-transform: uppercase;
  border-radius: 2px;
  padding: 8px 25px;
  font-size: 14px;
  margin-top: 2rem;
}

.learn-more-btn {
  font-family: Roboto, sans-serif;
  color: var(--primary-razer-green);
  text-align: center;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
}

.title {
  color: var(--primary-razer-green);
  font-family: RazerF5;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 5px;
}

.subtitle {
  color: var(--primary-razer-medium-light-grey);
  font-size: 14px;
  font-weight: 400;
}

.grid-content {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

a {
  text-decoration: none;
  color: var(--primary-razer-medium-grey);
}

a:hover {
  color: var(--primary-razer-green);
  cursor: pointer;
}

.view-more-btn {
  font-family: Roboto, sans-serif;
  color: var(--primary-razer-green);
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 8px 20px;
  font-size: 14px;
  border: 1px solid var(--primary-razer-green);
  background-color: transparent;
  display: block;
  margin: 2rem auto 0 auto;
}

.wrapper input {
  display: none;
}

.center-align {
  align-items: center;
}

.bottom-border {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--primary-razer-medium-grey);
}


/* Font styling */

@font-face {
  font-family: RazerF5;
  src: url(fonts/razerf5-semibold.otf);
}

/* Roboto Regular */
@font-face {
  font-family: "Roboto";
  src: url('fonts/Roboto/Roboto-Light.ttf');
  src: url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Roboto Medium */
/* @font-face {
  font-family: "Roboto";
  src: url('fonts/Roboto/Roboto-Medium.ttf');
  src: url('fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

h2 {
  color: var(--primary-razer-white);
  font-family: RazerF5;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.4rem;
  text-transform: uppercase;
}

h3 {
  color: var(--primary-razer-green);
  font-family: RazerF5;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

h5 {
  color: var(--primary-razer-white);
  font-family: RazerF5;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-transform: uppercase;
}

p {
  color: var(--primary-razer-white);
  font-weight: 400;
  font-size: 0.8rem;
}

h6 {
  font-family: RazerF5;
  color: var(--primary-razer-green)
}

.grey {
  color: var(--primary-razer-grey)
}


/* Top Navigation Bar */
.nav {
  /* height: 50px; */
  width: 100%;
  background-color: var(--primary-razer-black);
  position: fixed;
  top: 0;
  border-bottom: 2px solid var(--primary-razer-green);
}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav>.nav-header>img {
  width: 100%;
  display: block;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav>.nav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
  display: none;
}

/* Main banner */

.banner {
  background-image: url(images/banner-image-small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 600px;
}

.banner-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2vh;
}

.sub-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3vh;
  column-gap: 2vh;
  align-items: unset;
  width: 100%;
}

.sub-banner-item hr {
  background-color: var(--primary-razer-medium-grey);
  -webkit-transform: rotate(90deg);
  width: 4rem;
  height: 2px;
  border: 1px;
}


/* Pagination */

.pagination {
  display: flex;
  flex-direction: row;
}

.pagination a {
  height: 1vw;
  width: 9vw;
  background-color: var(--primary-razer-medium-grey);
  transform: skew(-25deg);
  margin: 0.7vw;
}

.pagination a:hover {
  background-color: var(--primary-razer-green);
}

blockquote {
  color: var(--primary-razer-medium-light-grey)
}

/* Footer */


.footer-bottom-text {
  color: var(--primary-razer-white);
  font-size: 0.5rem;
  padding-top: 1rem;
}

.footer-bottom-nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--primary-razer-white);
}

.footer-bottom-nav a {
  color: var(--primary-razer-white);
  font-size: 0.7rem;
}

.social-medias-icons {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.social-medias-icons img {
  height: 2rem;
  width: 2rem;
}

.why-content {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 5rem;
  row-gap: 5rem;
  margin: 10rem;
}

.why-content-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.why-content-item img {
  max-width: 20%;
  display: block;
}


/* Third section */
.partner-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: scroll;
  white-space: nowrap;
  margin-bottom: 1.5rem;
}

.partner-tabs a:hover {
  border-bottom: 2px solid var(--primary-razer-green);
}

.partner-tabs a {
  padding: 0 1.5rem;
  text-transform: uppercase;
  flex-wrap: nowrap;
  line-height: 2rem;
  font-family: RazerF5;
}

.partner-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}


.products-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.products-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  overflow-y: scroll;
}


.products-details-items {
  width: 250px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(172.66deg, rgba(85, 85, 85, 0.5) 37.57%, rgba(85, 85, 85, 0) 108.06%);
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-razer-green);
  padding: 2rem;
}

.products-details-items-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  padding-bottom: 4rem;
}

.products-details-items-content img {
  display: block;
  max-width: 40%;
}

.article-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(172.66deg, rgba(85, 85, 85, 0.5) 37.57%, rgba(85, 85, 85, 0) 108.06%);
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-razer-green);
}

.article-content-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  padding: 2rem 1rem 2rem 1rem;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.feedback-quote-box {
  border: 1px solid var(--primary-razer-medium-grey);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
  border-radius: 1rem;
}

.flags {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: scroll;
}

.flags-bg {
  padding-top: 4rem;
  width: 100%;
  height: auto;
}

figure img {
  display: block;
  width: 5rem;
  height: auto;
  padding: 0 0.5rem 0.3rem 0.5rem;
}

figcaption {
  color: var(--primary-razer-white);
  text-transform: uppercase;
  text-align: center;
  font-family: RazerF5;
  font-size: 14px;
}

.company-logo {
  width: 30%;
  display: block;
}

.handshake {
  background-image: url(images/backgrounds/handshake-bg-mob.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Footer toggle styling */
.fa-minus {
  display: none;
}

#toggle-check-1:not(:checked)~.flex-column .link-content-1,
#toggle-check-1:not(:checked)~.flex-column .minus-icon-1,
#toggle-check-1:checked~.flex-column .plus-icon-1,
#toggle-check-2:not(:checked)~.flex-column .link-content-2,
#toggle-check-2:not(:checked)~.flex-column .minus-icon-2,
#toggle-check-2:checked~.flex-column .plus-icon-2,
#toggle-check-3:not(:checked)~.flex-column .link-content-3,
#toggle-check-3:not(:checked)~.flex-column .minus-icon-3,
#toggle-check-3:checked~.flex-column .plus-icon-3,
#toggle-check-4:not(:checked)~.flex-column .link-content-4,
#toggle-check-4:not(:checked)~.flex-column .minus-icon-4,
#toggle-check-4:checked~.flex-column .plus-icon-4 {
  display: none;
}

#toggle-check-1:checked~.flex-column .link-content-1,
#toggle-check-1:checked~.flex-column .minus-icon-1,
#toggle-check-1:not(:checked)~.flex-column .plus-icon-1,
#toggle-check-2:checked~.flex-column .link-content-2,
#toggle-check-2:checked~.flex-column .minus-icon-2,
#toggle-check-2:not(:checked)~.flex-column .plus-icon-2,
#toggle-check-3:checked~.flex-column .link-content-3,
#toggle-check-3:checked~.flex-column .minus-icon-3,
#toggle-check-3:not(:checked)~.flex-column .plus-icon-3,
#toggle-check-4:checked~.flex-column .link-content-4,
#toggle-check-4:checked~.flex-column .minus-icon-4,
#toggle-check-4:not(:checked)~.flex-column .plus-icon-4 {
  display: block;
}

[class^="link-content"] li {
  padding: 0.5rem 0;
 }

/* Radial background */

.radial {
  background-image: radial-gradient(circle 20vh at 50% 1%, rgba(253, 229, 110, 0.5) 0%, rgba(177, 126, 37, 0.5) 33.33%, rgba(32, 21, 3, 0) 100%);
  background-size: 100% 15%;
  background-repeat: no-repeat;
}

.gradient {
  background: linear-gradient(180deg, #252525 0%, #101010 100%);
}

.divider-image {
  background-image: url(images/backgrounds/article-mob-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 20rem;
  width: 100%;
}

.partner-image {
  background-image: url(images/backgrounds/partners-mob-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* height: 20rem;
  width: 100%; */
}

/* Mobile Styles */

@media (max-width:960px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 7px;
    border-top: 2px solid var(--primary-razer-green);
  }

  .nav>.nav-links {
    position: absolute;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 55px;
    right: 0;
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D;
    /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    /* width: 960px; */
    margin: 0 auto;
  }

  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }

  .header {
    height: 400px;
  }

  .sign-up {
    height: 200px;
    order: 1;
  }

  .content {
    order: 2;
  }

  .banner {
    background-image: url(images/banner-image-large.jpg);
  }
}